/*	
	Architecture.css
	Copyright 2012, Mandar Shirke
	Based on : www.getskeleton.com By Dave Gamache
	Free to use under the MIT license
	License : http://www.opensource.org/licenses/mit-license.php

/*	Resets
	------	*/
	
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video {
	border:0;
	margin:0;
	padding:0;
}

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video {
	display:block;
}
a, textarea:focus, input:focus {
	outline:0;
}
a img {
	border:0;
}

/*	Clearing
	--------	*/
	
.qcContainer:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix:before,.clearfix:after,.row:before,.row:after {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.row:after,.clearfix:after {
	clear:both;
}

.row,.clearfix {
	zoom:1;
}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

/*	Selections
	----------	*/

body {
	-webkit-tap-highlight-color:#ffff9e;
}

::selection,::-moz-selection {
	background:#ffff9e;
}

img::selection,img::-moz-selection {
	background:transparent;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* 	THEME GRID ARCHITECTURE */
/* --------------------------------------------------------------------------------------------------------------------------- */

/*	BASE 960 GRID 
---------------------------------------------------------------------------------------------------------------------------------
	cols    1     2      3      4      5      6      7      8      9      10      11      12     13     14     15     16     		
	px      40    100    160    220    280    340    400    460    520    580     640     700    760    820    880    940     */

	.qcContainer                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.column, .columns                             { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.row                                          { margin-bottom: 20px; }
	.column.alpha, .columns.alpha                 { margin-left: 0; }
	.column.omega, .columns.omega                 { margin-right: 0; }
	.qcContainer .one.column                      { width: 40px;  }
	.qcContainer .two.columns                     { width: 100px; }
	.qcContainer .three.columns                   { width: 160px; }
	.qcContainer .four.columns                    { width: 220px; }
	.qcContainer .five.columns                    { width: 280px; }
	.qcContainer .six.columns                     { width: 340px; }
	.qcContainer .seven.columns                   { width: 400px; }
	.qcContainer .eight.columns                   { width: 460px; }
	.qcContainer .nine.columns                    { width: 520px; }
	.qcContainer .ten.columns                     { width: 580px; }
	.qcContainer .eleven.columns                  { width: 640px; }
	.qcContainer .twelve.columns                  { width: 700px; }
	.qcContainer .thirteen.columns                { width: 760px; }
	.qcContainer .fourteen.columns                { width: 820px; }
	.qcContainer .fifteen.columns                 { width: 880px; }
	.qcContainer .sixteen.columns                 { width: 940px; }
	.qcContainer .one-third.column                { width: 300px; }
	.qcContainer .two-thirds.column               { width: 620px; }

/*	TABLET : 768px 
---------------------------------------------------------------------------------------------------------------------------------
	cols    1     2      3      4      5      6      7      8      9      10      11      12     13     14     15     16     		
	px      28    76     124    172    220    268    316    364    412    460     508     556    604    652    700    748     */

	@media only screen and (min-width: 768px) and (max-width: 1079px) {

	.qcContainer                                  { width: 768px; }
	.qcContainer .column, .qcContainer .columns   { margin-left: 10px; margin-right: 10px;  }
	.column.alpha, .columns.alpha                 { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega                 { margin-right: 0; margin-left: 10px; }
	.qcContainer .one.column                      { width: 28px; }
	.qcContainer .two.columns                     { width: 76px; }
	.qcContainer .three.columns                   { width: 124px; }
	.qcContainer .four.columns                    { width: 172px; }
	.qcContainer .five.columns                    { width: 220px; }
	.qcContainer .six.columns                     { width: 268px; }
	.qcContainer .seven.columns                   { width: 316px; }
	.qcContainer .eight.columns                   { width: 364px; }
	.qcContainer .nine.columns                    { width: 412px; }
	.qcContainer .ten.columns                     { width: 460px; }
	.qcContainer .eleven.columns                  { width: 508px; }
	.qcContainer .twelve.columns                  { width: 556px; }
	.qcContainer .thirteen.columns                { width: 604px; }
	.qcContainer .fourteen.columns                { width: 652px; }
	.qcContainer .fifteen.columns                 { width: 700px; }
	.qcContainer .sixteen.columns                 { width: 748px; }
	.qcContainer .one-third.column                { width: 236px; }
	.qcContainer .two-thirds.column               { width: 492px; }
	
	}

/*	MOBILE PORTRAIT : 320px 
---------------------------------------------------------------------------------------------------------------------------------
	cols    1     2      3      4      5      6      7      8      9      10      11      12     13     14     15     16     		
	px      300   300    300    300    300    300    300    300    300    300     300     300    300    300    300    300     */

	@media only screen and (max-width: 767px) {
	
	.qcContainer 							{ width: 300px; }
	.columns, .column 						{ margin: 0; }
	.qcContainer .one.column,
	.qcContainer .two.columns,
	.qcContainer .three.columns,
	.qcContainer .four.columns,
	.qcContainer .five.columns,
	.qcContainer .six.columns,
	.qcContainer .seven.columns,
	.qcContainer .eight.columns,
	.qcContainer .nine.columns,
	.qcContainer .ten.columns,
	.qcContainer .eleven.columns,
	.qcContainer .twelve.columns,
	.qcContainer .thirteen.columns,
	.qcContainer .fourteen.columns,
	.qcContainer .fifteen.columns,
	.qcContainer .sixteen.columns,
	.qcContainer .one-third.column,
	.qcContainer .two-thirds.column  			{ width: 300px; }
	
	}
	
/*	MOBILE WIDE / LANDSCAPE : 480px 
---------------------------------------------------------------------------------------------------------------------------------
	cols    1     2      3      4      5      6      7      8      9      10      11      12     13     14     15     16     		
	px      420   420    420    420    420    420    420    420    420    420     420     420    420    420    420    420     */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.qcContainer 							{ width: 420px; }
	.columns, .column 						{ margin: 0; }
	.qcContainer .one.column,
	.qcContainer .two.columns,
	.qcContainer .three.columns,
	.qcContainer .four.columns,
	.qcContainer .five.columns,
	.qcContainer .six.columns,
	.qcContainer .seven.columns,
	.qcContainer .eight.columns,
	.qcContainer .nine.columns,
	.qcContainer .ten.columns,
	.qcContainer .eleven.columns,
	.qcContainer .twelve.columns,
	.qcContainer .thirteen.columns,
	.qcContainer .fourteen.columns,
	.qcContainer .fifteen.columns,
	.qcContainer .sixteen.columns,
	.qcContainer .one-third.column,
	.qcContainer .two-thirds.column 			{ width: 420px; }
	
	}	

/*	RETINA MEDIA QUERY.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
------------------------------------------------------------------------------------------------------------------------------ */

	@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	}

/* --------------------------------------------------------------------------------------------------------------------------- */
/*	BASIC TEMPLATE STYLE */
/* --------------------------------------------------------------------------------------------------------------------------- */

body {
	font: 11px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	background: #fff;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */	
}
.qcContainer {
	margin: 0 auto;
}

ul li {
	list-style: none;
}
a {
	text-decoration: none;
}
hr {
	height: 1px;
	width: 100%;
	margin: 35px 0;
	border-bottom: 1px #DDD dotted;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/*	BASIC FORM STYLE */
/* --------------------------------------------------------------------------------------------------------------------------- */

form {
	margin-bottom: 20px; 
}
fieldset {
	margin-bottom: 20px; 
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; 
}
select {
	padding: 0; 
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
 	color: #444;
 	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); 
}
textarea {
	min-height: 60px; 
}
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;  
}
select {
	width: 220px; 
}
input[type="checkbox"] {
	display: inline; 
}
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; 
}
ol.form .error {
	position: relative;
	top: -10px;
	color: red;
}                                  
ol.form  {
	list-style: none;
}
ol.form label {
	display: none;
}
.info {
	color: green;
}                           
	